


.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 92px 49px 96px 50px;
}

.header_menu-list {
    display: flex;
    gap:33px;
    padding: 0;
    margin: 0;
    list-style: circle;
    font-size: 18px;
}

.menu-item_no-bullit{
    list-style: none;
}
.menu_inactive{
    text-decoration: none;
}

.offset__link {
  text-underline-offset: 4px;
}
.header_image{
    width: 100%;
    height: 100%;
    display: block;
}
.header_logo{
    justify-self: center;   
    display: block;
    width: 148px;
    height: 105px;
}
.address{
    
    font-size: 18px;
    line-height: 24.3px;
    max-width: 240px;
    font-style: normal ;
}

.header_address{
justify-self: end;
}

.header_address-link{
    text-underline-offset: 3px;
}

.cover{
    position: relative;
    z-index: 1;
    padding: 170px 50px 50px 50px;
    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: rgba(0, 0, 0, 0.5);
}

.cover_title{
    display: flex;
    flex-direction: column;
    row-gap: 17px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: 30px;
    text-transform: uppercase ;
}

.aligned-text_center{
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 107px;
}

.cover__description-text{
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    word-spacing: 19px;
    font-weight: 400;
    color: #fff;

}

.bet-button{
    border: 1px solid #fff;
    padding: 12px 32px;
    color: #fff;
    font-size: 22px;
    line-height: normal;
    text-align: center;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
}

.lots {
  padding: 0px 24px;
}

.lots__heading {
  margin: 0 0 27px;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 40px;
  padding-top: 178px;
}

.lots__card-list {
  list-style: none; 
  display: flex;
  flex-wrap: wrap; 
  gap: 25px; 
}

.lots__card-list-item {
  width: 334px; 
  min-height: 598px; 
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  height: 100%; 
  position: relative;
  padding: 50px 40px;
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}
.card__title {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #fff;
}


.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  color: #fff;
}


.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  color: #000;
  text-transform: lowercase;
  text-underline-offset: 4px;
}

.about{
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 72px;
    padding: 155px 30px 40px 52px;

}

.about__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background: #000;
    margin-left: 20px;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}

.about__title{
    font-size: 40px;    
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 69px;
    margin-bottom: 77px;
    
}
.about__text{
    font-size: 20px;

}
.about__column{
    margin-top: 30px;    
    display: flex;
    flex-direction: column;
    gap: 24px;   
}
.footer{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 141px 51px;
}
.footer__menu{
    text-align: center;

}
.footer__menu-link{
    font-size: 18px;
    text-underline-offset: 4px;
}

.footer__social-link{
    display: flex;
    flex-wrap: nowrap;
    justify-content: end;
    column-gap: 47px;
}

.footer__social-icon{
    display: block;
    width: 48px;
    height: 48px;
}  